body {
  background: linear-gradient(#056c7c, #00a3bd);
  color: #f8f8f8;
}

.project {
  width: 100%;
  height: 25%;
  background-color: #000;
  color: #f8f8f8;
  padding: 20;
}

.project-row {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.project a {
  color: #f8f8f8;
  font-size: 3rem;
}

.project-heading {
  width: 100%;
  text-align: center;
}
