.references {
  padding: 20pt 0pt;
}

.account {
  flex-direction: column;
  padding: 10 0;
  font-size: 2rem;
}

.account i {
  font-size: 4rem;
  text-align: center;
}

.icon {
  color: white;
  align-self: center;
}

.icon-label {
  padding-top: 5pt;
  text-align: center;
  color: white;
}

.account-values {
  padding: 10pt 0pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-info {
  padding-top: 10pt;
  font-size: 1.5rem;
}
a > .overlay {
  color: white;
}
